
.new-tweet {
  margin: 0 2em 2em;
  padding: 0.5em;
  background-color: #eee;
  border-radius: 5px;
  display: none;
}

.new-tweet h2 {
  border-bottom: 1px solid #244751;
  margin-top: 0;
}

.new-tweet textarea {
  width: 100%;
  padding: 1%;
}

.counter {
  float: right;
  font-size: .8em ;
  font-style: italic;
}
